body {
  font-family: 'Open Sans', sans-serif;
}

/*
HEADER
*/
.jumbotron {
  text-align: center;
  background-color: transparent;
  border-bottom: 1rem solid black;
}

/*
MAIN
*/
.time-block{
  border-radius: 1rem;
  border-top: 0.1rem solid white;;
}

.hour {
  text-align: center;
  background-color: white;
  padding: 1rem;
  font-size: 2rem;
  border-top: 0.1rem dashed black;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  border-left: 0.1rem solid black;
  padding: 1rem;
}

.past {
  background-color: #d3d3d3;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

.save-button {
  border-left: 0.1rem solid black;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #06AED5;
  color: white;
}

.save-button:hover {
  cursor: pointer;
}

i {
  font-size: 3rem;
  transition: all .3s ease-in-out;
}

.save-button:hover i {
  font-size: 4rem;
  color: black;
}
